<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create" method="post">
        <label for="todo">todo</label>
        <input type="text" name="todo" id="todo" />
        <label for="due_date">due date</label>
        <input type="text" name="dueDate" id="due_date" />
        <label for="num">number</label>
        <input type="number" name="num" id="num" />
        <button type="submit">작성하기</button>
    </form>
</body>
</html>